/* bootstrap mod */
.rounded-3{
    border-radius: 15px !important;
}


/* generic */
body{
    font-family: 'Montserrat', sans-serif;
}

/* utility */

.h300{
    height: 600px;
}

.gs-w-100{
    width: 100px;
}

.gs-w-250{
    width: 250px;
}

.gs-ptop300{
    padding-top: 300px;
}



/* CONTENT */

/* jumbotron */

#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

