/* bootstrap mod */
.rounded-3{
    border-radius: 15px !important;
}

/* generic */

html {
    scroll-behavior: smooth;
  }

body{
    font-family: 'Montserrat', sans-serif;
}

nav .fa-chevron-down{
    color: #bebcbb;
}

.gs-start{
    position: initial;
}

/* utility */

.h300{
    height: 600px;
}

.gs-w-100{
    width: 100px;
}

.gs-w-250{
    width: 250px;
}

.gs-ptop300{
    padding-top: 300px;
}

header{
    background-color: white;
}

/* CONTENT */

/* HEADER */

/* nav */

.gs-dropdown-mod{
    top: 90% !important;
    border: 0!important;
    border-radius: 0!important;
}

#lens{
    width: 30px;
    margin-left: 10px;
}

#play-ico{
    width: 70px;
}

/* jumbotron */

#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin-top: 100px;
    padding-top: 380px;
}

/* thumbnails */
.gs-thumb{
    transition: transform 0.3s linear;
    padding: 2px;
}

/* game on evidence */

#it-takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* playstationplus */
#playstationplus{
    background-color: #bebcbb;
}

.gs-bg-plusbtn{
    background-color: #d9dadc !important;
    border-color: #d9dadc !important;
}

/* playstation now */
#playstationnow{
    background-color: #161c3b;
}

/* footer */
footer{
    background-color: #00439c;
}

#language-img{
    width: 20px;
}

footer ul li{
    list-style-type: none;
}

footer ul li a{
    text-decoration: none;
    color: white;
}

#sie-logo{
    width: 200px;
}

/* hover and animations */

.gs-thumb:hover{
    transform: translateY(-30px);
    cursor: pointer;
    outline: 3px solid blue;
}

.gs-accessory-opacity:hover{
    opacity: 1 !important;
    cursor: pointer;
    border-bottom: 3px solid #0d6efd;
}

.play-ico-container:hover{
    border: 1px solid #bebcbb;
}

#onhover-section li a:hover{
    color: blue;
}

nav button:hover,
#accessories button:hover,
#explore-playstation button:hover,
#playstationplus button:hover{
    outline: white solid 2px;
    outline-offset: -5px;
}

#jumbotron button:hover,
#it-takes-two button:hover,
#playstationnow button:hover{
    outline: black solid 2px;
    outline-offset: -5px;
}


